media/
.vscode
mentors/migrations/*
mentors/__pycache__/*
mentees/migrations/*
mentees/__pycache__/*
projects/migrations/*
projects/__pycache__/*
projects/templatetags/__pycache__/*
soc/__pycache__/*
db.sqlite3
soc/settings.py