.partners {
    font-family: 'Quicksand';
    margin: 3rem auto 4rem;
    /* border-top: 2px solid rgba(33, 150, 243, 0.8); */
    /* border-bottom: 2px solid #ccc; */
    width: 50%;
}

hr {
    background-color: rgba(33, 150, 243, 0.5);
    border-radius: 50%;
    height: 1.5px;
}

.partners h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.partners img {
    margin-left: 50%;
    width: 200px;
    transform: translateX(-50%);
}

.g-tech img {
    width: 350px;
}

.partners h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    font-weight: bold;
    margin-top: 3rem;
}

.image-control {
    margin-bottom: 2rem;
}

.conduct {
    font-family: 'Quicksand';
    padding: 2rem 0rem 4rem;
    background-image: linear-gradient(to right, #203855 0, #17283d 50%, #0e1926 100%);
    /* background: #FAFAFA; */
}

.conduct-body {
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    transition: 0.4s;
    padding: 3rem 3rem 0;
    border-radius: 20px;
    cursor: default;
}

.conduct-body:hover {
    /* box-shadow: 0 19px 58px rgba(0, 0, 0, 0.60), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.conduct-head {
    width: 100%;
}

.conduct-head h1 {
    text-align: center;
    /* color: #323236; */
    font-size: 35px;
}

.conduct-descrip {
    padding: 1.5rem 0rem 2rem;
}

.conduct-descrip h3 {
    font-size: 20px;
    margin-bottom: 1rem;
}

.conduct-descrip ul li {
    margin-top: 0.5rem;
}

.conduct-descrip p {
    font-size: 17px;
    text-align: justify;
    line-height: 31px;
    /* color: #454; */
    color: #ccc;
}

@media only screen and (max-width:992px) {
    .partners {
        margin: 0rem auto 2rem;
    }
    hr {
        margin-bottom: 0rem;
    }
    .partners img {
        width: 150px;
    }
    .g-tech img {
        width: 300px;
    }
    .partners h2 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .image-control {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width:502px) {
    .image-control {
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .conduct-head h1 {
        font-size: 30px;
    }
    .conduct-descrip h3 {
        font-size: 16px;
    }
    .conduct-descrip p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0;
    }
    .conduct-descrip ul {
        padding-left: 1rem;
    }
    .conduct-descrip ul li {
        font-size: 15px;
    }
    .conduct-body {
        padding: 1rem 1.5rem 0;
    }
}

@media only screen and (max-width:450px) {
    .partners {
        width: 80%;
    }
    hr {
        margin-top: 0;
    }
    .partners img {
        width: 150px;
    }
    .g-tech img {
        width: 200px;
    }
    .partners h2 {
        font-size: 25px;
    }
    .image-control {
        margin-bottom: 2rem;
    }
}