.myrows {
    border: 3px solid green;
    padding: 5px;
}

.mycol {
    border: 3px solid red;
}

.mycontainer {
    background-color: aqua;
}

/* START: HEADER */

#topHeader {
    border-bottom: 1px solid #ebebeb;
}

#topHeader a {
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-right li a {
    float: right;
    color: black;
}

/*END: HEADER */

/* START: HOME PAGE SECTION*/

.home-section {
    color: whitesmoke;
    background-image: linear-gradient(to right, #203855 0, #17283d 50%, #0e1926 100%);
}

.card {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.card-set {
    margin-top: 30px;
    margin-bottom: 30px;
}

.no-project {
    width: 100%;
    font-family: 'Quicksand';
    text-align: center;
}

@media only screen and (max-width:501px) {
    .no-project h2 {
        font-size: 25px;
    }
    .no-project h3 {
        font-size: 22px;
    }
}

/*END: SECTION */

/* START: Footer */

.full-footer {
    background-color: #0984e3;
}

.top-footer p {
    color: white;
}

.top-footer p a {
    color: white;
    font-weight: 600;
}

.top-footer h3 {
    color: white;
}

.top-footer a {
    color: white;
}

/* END: Footer */