{% extends 'mentors/base.html' %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/style.css' %}" />
<section class="home-section pt-4 pb-5">
  <div class="container">
    <div class="row" style="margin-top: 30px">
      {% for project in user.mentor.project_set.all %}

      <div class="col-lg-4 col-md-12 justify-content-center mb-5">
        <div class="card shadow">
          <div class="inner">
            <img
              src="{% static 'mentors/img/card1.jpg' %}"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body text-center" style="color: black">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">
              {{ project.description|slice:":100"|add:" ..." }}
            </p>
            <p class="card-text">
              Status: {% if project.is_approved %}Approved{% else %}Pending for
              Approval{% endif %}
            </p>
            <a
              href="{% url 'mentors:details' project.id %}"
              class="btn btn-success"
              >Read More</a
            >

            <div class="card-text">
              <p>Selected Students:</p>
              {% for student in project.selected_mentee.all %}
              <p>{{ student.user.username }}</p>
              {% endfor %}
            </div>
            <div class="card-text">
              <p>Applicants:</p>
              {% for student in project.mentee_applications.all %} {% if
              student.selected == NULL %}
              <form method="post" action="{% url 'mentors:dashboard' %}">
                {% csrf_token %}
                <p>{{ student.user.username }}</p>
                <input
                  name="project"
                  value="{{ project.id }}"
                  style="display: none"
                />
                <input
                  name="mentee_id"
                  value="{{ student.id }}"
                  style="display: none"
                />
                <input type="submit" value="Accept Application" />
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if show_button %}
  <div class="create-project">
    <button type="button">
      <a href="{% url 'mentors:create_project' %}" class="btn btn-primary"
        >Create new project</a
      >
    </button>
  </div>
  {% endif %}
</section>
{% endblock %}
