{% extends 'mentors/base.html' %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/style-login.css' %}" />
<section class="cover">
  <div class="login-form pt-5 pb-5">
    <form method="post" action="{% url 'user_login' %}">
      {% csrf_token %}
      <h2 class="text-center pb-4">Log in</h2>
      <div class="form-group pb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
          required="required"
        />
      </div>
      <div class="form-group pb-2">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required="required"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline pb-3"
          ><input type="checkbox" /> Remember me</label
        >
        <a href="#" class="pull-right">Forgot Password?</a>
      </div>

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </form>
    <p class="text-center">
      <a href="{% url 'mentors:register' %}">Create an Account</a>
    </p>
  </div>
</section>
{% endblock %}
