{% extends "mentors/base.html" %}
{% block body_block %}
<section class="home-section pt-4 pb-5">
<div class='container'>
    <div class='jumbotron'>
        <form action="{% url 'mentors:profile' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class='create-form-buttons'>
                <input type='submit' value='Submit'>
                <a href="{% url 'mentors:dashboard' %}"><button type='button'>Cancel</button></a>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}