<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>
  
    <h1 class="text-primary text-center mt-4 mb-4">Terms And Agreements</h1>
    
 
<div class="border-top my-3"></div>
   
    <div class="container mt-4 mb-4">
      
<h5 class="text-primary">Mentor</h5>
<ol>
    <li>Representations and Warranties :</li>
<ul>
<li>You represent and warrant that the information you provide about yourself during registration and in subsequent communications with PClub is truthful and accurate</li>
<li>You represent and warrant that in reviewing Project Submissions, you will not discriminate on the basis of age, race, creed, color, religion, gender, sex, sexual orientation, national origin, disability, marital or veteran status or any other basis that is prohibited by applicable law. </li>
</ul>
  <li>Submissions :</li>
  <ul>
      <li>“Submissions” means any materials you submit to PClub in connection with the Program. </li>
      <li>You retain all ownership rights you had in your Submissions before submitting them. </li>
      <li>You grant PClub a non-exclusive, worldwide, perpetual, irrevocable, free license (with the right to sublicense) to reproduce, prepare derivative works of, distribute, perform, display, and otherwise use your Submissions for the purpose of administering the Program and promoting PClub Summer of Code. </li>
  </ul>
  <li>Privacy :</li>
  <ul>
      <li>PClub will process the personal information provided during registration and in any subsequent communications to administer the Program (including verifying eligibility to participate in the Program, running the Program, sending notifications regarding the Program, and delivering promotional items).</li>
      <li>Student’s Project Submissions and contact information (email address and display name) will be shared with the Organizations (including Members) to administer the Program.</li>
      <li>The personal information provided during registration and in any subsequent communications will also be processed by PClub for the purpose of delivering goodies to successful accepted Students. PClub may publicize your participation in the Program and the results of the Program, including announcements of accepted Project Proposals, the text of accepted Project Proposals, and the resulting code from your work on the Project. PClub may display your information, including your display name, Project abstract, and Final Project Materials, on PSoC-websites</li>

  </ul>
  <li>Responsibilities :</li>
  <ul>
      <li>Each Mentor should participate in the Bonding Period</li>
      <li>Provide guidance to their Student(s) on their Projects</li>
      <li>Use best efforts to respond to Student requests within thirty-six (36) hours</li>
      <li>Provide Evaluations of their Student(s)’ work</li>
      <li>If PClub reasonably believes that a Mentor has failed to meet any of the foregoing responsibilities, PClub may replace or remove  Mentor from program</li>
  </ul>
</ol>
</div>
<div class="container mt-4 mb-5">
    <h5 class="text-primary">Mentee</h5>
    <ol>
        <li>Representations and Warranties :</li>
        <ul>
            <li>The information you provide about yourself during registration and in subsequent communications with PClub is truthful and accurate</li>
            <li>You own all rights in your Submissions</li>
            <li>Your submissions:
                <ol>
                    <li>are original</li>
                    <li>are not malicious, defamatory, libelous, pornographic, or obscene</li>
                    <li>do not violate any applicable laws</li>
                    <li>do not violate any rights of any other person or entity or any obligation you may have with them</li>
                </ol>

            </li>

        </ul>
        <li>Ownership :</li>
        <ul>
            <li>You retain all ownership rights you had in your Submissions before submitting them</li>
        </ul>
        <li>Privacy :</li>
        <ul>
            
            <li>Mentee’s Project Submissions and contact information (email address and display name) will be shared with the Mentor (including Members) to administer the Program.</li>
            <li>The personal information provided during registration and in any subsequent communications will also be processed by PClub for the purpose of delivering goodies to successful accepted Students. PClub may publicize your participation in the Program and the results of the Program, including announcements of accepted Project Proposals, the text of accepted Project Proposals, and the resulting code from your work on the Project. PClub may display your information, including your display name, Project abstract, and Final Project Materials, on PSoC-websites</li>
        </ul>
        <li>Responsibilities :</li>
        <ul>
            <li>Each Mentee should participate in the  Bonding Period</li>
            <li>Provide Evaluation of their Mentor</li>
            <li>working diligently to complete the Project as it may be modified by Mentor</li>
            <li>following the coding and documentation standards set out by their Mentor</li>
            <li>If PClub reasonably believes that a Student has failed to meet the foregoing responsibilities, PClub may remove such Mentee from the Program.</li>
        </ul>
        <li>Project Proposals :</li>
        <ul>
            <li>Mentee’s may submit Project Proposals to Organizations through the Program Website during the application period described in the Program Timeline.</li>
            <li>If a Project Proposal is for a Project that the Mentee is already working on, the Mentee must note this in the Project Proposal. Any work done on the Project prior to acceptance of the Project Proposal will not be considered for Evaluations.</li>
        </ul>
        <li>Acceptance :</li>
        <ul>
            <li>PClub will announce the Project Proposals accepted to the Program on the PSoC-websites</li>
            <li>Mentee’s without an accepted Project Proposal may not continue with the Program and their profiles will be deleted from the PSoC Website.</li>
        </ul>
    </ol>

</div>

</body>
</html>