{% extends 'mentors/base.html' %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Mentee's Dashboard !</h1>
            {% if user.is_authenticated %}
                <h2>Hello {{ user.username }}</h2>
            {% endif %}
            {% for project in user.mentee.projects.all %}
                <div class="container">
                    <p>{{ project.title }}</p>
                    <p>{{ project.description }}</p>
                    <p>{{ project.code }}</p>
                    <p>status: pending</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}