{% extends 'mentors/base.html' %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <form method="post" method="{% url 'admin_panel_project_detail' project.id %}">
                {% csrf_token %}
                <h1>Title: {{ project.title }}</h1>
                <p>Status: {% if project.is_approved %} Approved {% else %} Not Approved {% endif %}</p>
                <h6>Mentor: {{ project.mentor.user.username }}</h6>
                <p>{{ project.description }}</p>
                <h6>Stack Used: {{ project.stack }}</h6>
                <input type="submit" value="Approve">
            </form>
        </div>
    </div>
{% endblock %}