{% extends 'mentors/base.html' %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/detail.css' %}" />
    <div class="container">
        <div class="detail-section">
            <form method="post" method="{% url 'admin_panel_project_detail' project.id %}">
                {% csrf_token %}
                <div class="proj-title">
                    <h1>Title: {{ project.title }}</h1>
                    {% comment %} <hr> {% endcomment %}
                </div>
                <hr class="header-hr">
                <p class="status">Status: {% if project.is_approved %} Approved {% else %} Not Approved {% endif %}</p>
                <div class="mentor">
                    <h6>Mentor: {{ project.mentor.user.username }}</h6>
                    <div class="mentor-email">
                        <h6>Email: {{ project.mentor.user.email }}</h6>
                        <h6>CV: <a href="{{ project.mentor.cv.url }}" target="_blank"> Resume</a></h6>
                        {% comment %} <hr> {% endcomment %}
                    </div>
                    {% comment %} <hr> {% endcomment %}
                </div>
                <div class="description">
                    {% comment %} <h6>Description:</h6> {% endcomment %}
                    <p>{{ project.description }}</p>
                    <hr>
                </div>                
                <div class="stack"> 
                    <h6>Stack Used: <span>{{ project.stack }}</span></h6>
                </div>
                {% if not project.is_approved %}
                <input type="submit" value="Approve" class="approve btn btn-primary">
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}