{% extends 'mentors/base.html' %} {% load static %} {% load getvaluefromdict %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/detail.css' %}" />
    <div class="container">
        <div class="detail-section">            
                <div class="proj-title">
                    <h1>{{ project.title }}</h1>
                    {% comment %} <hr> {% endcomment %}
                </div>
                <hr class="header-hr">
                <div class="mentor">
                    <h6>Mentor: {{ project.mentor.name }}</h6>
                    <div class="mentor-email">
                        <h6>Email: {{ project.mentor.user.email }}</h6>
                        {% comment %} <hr> {% endcomment %}
                    </div>
                    {% comment %} <hr> {% endcomment %}
                </div>
                {% comment %} <hr class="header-hr"> {% endcomment %}
                <div class="description">
                    <h6>Description:</h6>
                    <p>{{ project.description }}</p>
                    <hr>
                </div>
                <div class="stack"> 
                    <h6>Stack Used: <span>{{ project.stack }}</span></h6>
                </div>
                {% comment %} <a href="{% url 'mentors:edit_project' project.id %}" style="padding-left:0.5rem;">Edit the project</a>                 {% endcomment %}
                

                {% if is_mentor %}
                <div class="students">
                <div class="card-text selected-list">
                    <p class="app-head">Selected Students:</p>
                    {% for student in project.selected_mentee.all %}
                    <div class="student">
                        <p>{{ student.user.username }}</p>
                        <p><a href='{{ proposals|get_item:student.user.username }}'>Proposal Link</a></p>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="card-text applicant-list">
                    <p class="select-head">Applicants:</p>
                    {% for student in project.mentee_applications.all %}
                    <div class="student">	
                        <div class="app-detail">
                            <p>{{ student.user.username }}</p>
                            <p><a href='{{ proposals|get_item:student.user.username }}'>Proposal Link</a></p>
                        </div>
                    </div>
                    {% endfor %}
                  </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
