{% extends 'mentors/base.html' %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <form method="post" method="{% url 'projects:detail' project.id %}">
                {% csrf_token %}
                <h1>Title: {{ project.title }}</h1>
                <h6>Mentor: {{ project.mentor.name }}</h6>
                <h6>Email: {{ project.mentor.user.email }}</h6>
                <p><h6>Description: </h6>{{ project.description }}</p>
                <h6>Stack Used: {{ project.stack }}</h6>
                {% if is_mentee %}
                    {% if already_applied %}
                        <p>Already Applied</p>
                    {% else %}
                            {% if not_reached %}
                                <input type="submit" value="Apply for this project.">
                            {% else %}
                                <p>Already applied to 3 projects. Cannot apply more.
                                </p>
                            {% endif %}
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}