{% extends "mentors/base.html" %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/timeline.css' %}" />
<section class="home-section pt-4 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 main-section">
        <h2>PClub Summer Of Code</h2>
        <h5>
          Spend your summer break writing code and learning about open source
          development. Accepted students work with a
          mentor and become a part of the open source community. Many become
          lifetime open source developers!
        </h5>
        <br />
        {% if not user.is_authenticated %}
        <div class="main-register">
        <h3 class="pb-1"><span>R</span>egistrations Opens on 5 June</h3>
        <a href="{% url 'mentors:register' %}" class="mentor">
        <button class="btn btn-lg mb-3" disabled>
            Mentor
          </button></a
        >
        <a href="{% url 'mentees:register' %}">
        <button class="btn btn-lg mb-3" disabled>
            Mentee
          </button></a
        >
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4" id="img-logo">
        <img
          src="{% static 'mentors/img/computer.png' %}"
          alt="icon"
          width="300px"
        />
      </div>
    </div>
  </div>
</section>
<section class="timeline">
            <div class="timeline-head">
                <h1>Timeline</h1>
            </div>
            <div class="row">
                <div class="schedule-box col-sm-12">
                    <div class="featured-schedule-collection container-schedule">
                        <div class="row">
                            <div class="schedule-box">
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Program Announced</span></h2>
                                            <br />
                                            <p>
                                                Pclub Summer of Code is released online and students and mentors are informed about the program.
                                            </p>
                                        </div>
                                        <div class="time time-0">
                                            <h3>1 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Mentor Registration starts</span></h2>
                                            <br />
                                            <p>
                                                Interested mentors sign up on the website and optionally register their projects. Interested students begin applying to the program.
                                            </p>
                                        </div>
                                        <div class="time time-1">
                                            <h3>5 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Mentor Registration Ends</span></h2>
                                            <br />
                                            <p>
                                                Mentors must register themselves by 10th June, 2020.
                                            </p>
                                        </div>
                                        <div class="time time-2">
                                            <h3>10 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Projects Announced</span></h2>
                                            <br />
                                            <p>
                                                Selected Projects Announced and Students Application begins.
                                            </p>
                                        </div>
                                        <div class="time time-3">
                                            <h3>12 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Student Registration Ends</span></h2>
                                            <br />
                                            <p>Students must propose their proposels by 20 June, 2020</p>
                                        </div>
                                        <div class="time time-4">
                                            <h3>20 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Selection Students Release</span></h2>
                                            <br />
                                            <p>
                                                Selected Students are Notified of thier Selection.
                                            </p>
                                        </div>
                                        <div class="time time-5">
                                            <h3>23 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Bonding Period</span></h2>
                                            <br />
                                            <p>
                                                Students are given time to Connect with Mentors and Understand the Project.
                                            </p>
                                        </div>
                                        <div class="time time-6">
                                            <h3>24-25 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Codind Period Starts</span></h2>
                                            <br />
                                            <p>
                                                Students Start with thier Contribution.
                                            </p>
                                        </div>
                                        <div class="time time-7">
                                            <h3>26 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Coding Period Ends</span></h2>
                                            <br />
                                            <p>
                                                Coding Period Ends.
                                            </p>
                                        </div>
                                        <div class="time time-8">
                                            <h3>25 August, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Contribution and Feedbacks</span></h2>
                                            <br />
                                            <p>
                                                Students conclude with their Contribution for the program. Mentors file feedback. 
                                            </p>
                                        </div>
                                        <div class="time time-9">
                                            <h3>30 August, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Result</span></h2>
                                            <br />
                                            <p>
                                                Results Announced. Certificates are Distributed.
                                            </p>
                                        </div>
                                        <div class="time time-10">
                                            <h3>5 September, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>  
{% endblock %}
