{% extends "mentors/base.html" %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/timeline.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/about.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/conduct.css' %}" />
<section class="home-section pt-4 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 main-section">
        <h2>PClub Summer Of Code</h2>
        <h5>
          Spend your summer break writing code and learning about open source
          development. Accepted students work with a
          mentor and become a part of the open source community. Many become
          lifetime open source developers!
        </h5>
        <br />
        {% if not user.is_authenticated %}
        <div class="main-register">
        <h3 class="pb-1"><span>R</span>egister here</h3>
        <a href="{% url 'mentors:register' %}" class="mentor">
        <button class="btn btn-lg mb-3">
            Mentor
          </button></a
        >
        <a href="{% url 'mentees:register' %}">
        <button class="btn btn-lg mb-3" disabled >
            Mentee
          </button></a
        >
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4" id="img-logo">
        <img
          src="{% static 'mentors/img/computer.png' %}"
          alt="icon"
          width="300px"
        />
      </div>
    </div>
  </div>
</section>
<section class="about-psoc">
    <div class="sub-about container">
        <div class="row">
            <div class="about-content col-lg-7">
                <h1>About PSoC</h1>
                <p>PClub Summer of Code is the 2 month long Open Source program during 
                summers conducted by Programming Club, UIET, with an aim to help beginners 
                get started with Open Source Development while encouraging diversity. 
                Throughout the program, participants contribute to different projects under 
                guidance of experienced mentors. Mentors get to make their ideas alive and 
                Mentees get to learn tech.                
                <br><br>
                PSoC is targeted at audience who want to dwell 
                in OpenSource Development as well as who are already into FOSS development. 
                This program will help students for other opensource programs like Gsoc, Outreachy, etc.                
                </p>
                <div class="manuals">
                    <a href="{% static 'mentors/img/PSoC_Mentor_Manual.pdf' %}" class="mentor-manual btn btn-primary mb-3" target="_blank">
                        Download Mentor Manual
                    </a>
                    <a href="{% static 'mentors/img/PSoC_Mentee_Manual.pdf' %}" target="_blank" class="mb-3">
                        <button class="mentee-manual btn btn-primary">Download Mentee Manual</button>
                    </a>
                </div>                    
            </div>
            <div class="psoc-logo">
                <img src="{% static 'mentors/img/psoc-logo.png' %}">
            </div>
        </div>
    </div>
</section>
<section class="home-bg">
    <div class="about-bg">
        {% comment %} <img src="{% static 'mentors/img/pclub-members.jpeg' %}">  {% endcomment %}
    </div>
    <div class="color-overlay"></div>
</section>
<section class="timeline">
            <div class="timeline-head">
                <h1>Timeline</h1>
            </div>
            <div class="row">
                <div class="schedule-box col-sm-12">
                    <div class="featured-schedule-collection container-schedule">
                        <div class="row">
                            <div class="schedule-box">
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Program Announced</span></h2>
                                            <br />
                                            <p>
                                                Pclub Summer of Code is released online and students and mentors are informed about the program.
                                            </p>
                                        </div>
                                        <div class="time time-0">
                                            <h3>1 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Mentor Registration starts</span></h2>
                                            <br />
                                            <p>
                                                Interested mentors sign up on the website and optionally register their projects. Interested students begin applying to the program.
                                            </p>
                                        </div>
                                        <div class="time time-1">
                                            <h3>5 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Mentor Registration Ends</span></h2>
                                            <br />
                                            <p>
                                                Mentors must register themselves by 12th June, 2020.
                                            </p>
                                        </div>
                                        <div class="time time-2">
                                            <h3>12 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Projects Announced</span></h2>
                                            <br />
                                            <p>
                                                Selected Projects Announced and Students Application begins.
                                            </p>
                                        </div>
                                        <div class="time time-3">
                                            <h3>12 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Student Registration Ends</span></h2>
                                            <br />
                                            <p>Students must propose their proposels by 20 June, 2020</p>
                                        </div>
                                        <div class="time time-4">
                                            <h3>20 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Selection Students Release</span></h2>
                                            <br />
                                            <p>
                                                Selected Students are Notified of thier Selection.
                                            </p>
                                        </div>
                                        <div class="time time-5">
                                            <h3>23 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Bonding Period</span></h2>
                                            <br />
                                            <p>
                                                Students are given time to Connect with Mentors and Understand the Project.
                                            </p>
                                        </div>
                                        <div class="time time-6">
                                            <h3>24-25 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Codind Period Starts</span></h2>
                                            <br />
                                            <p>
                                                Students Start with thier Contribution.
                                            </p>
                                        </div>
                                        <div class="time time-7">
                                            <h3>26 June, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Coding Period Ends</span></h2>
                                            <br />
                                            <p>
                                                Coding Period Ends.
                                            </p>
                                        </div>
                                        <div class="time time-8">
                                            <h3>25 August, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Contribution and Feedbacks</span></h2>
                                            <br />
                                            <p>
                                                Students conclude with their Contribution for the program. Mentors file feedback. 
                                            </p>
                                        </div>
                                        <div class="time time-9">
                                            <h3>30 August, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 links">
                                    <div class="featured-schedule">
                                        <div class="col text-center">
                                            <h2><span>Result</span></h2>
                                            <br />
                                            <p>
                                                Results Announced. Certificates are Distributed.
                                            </p>
                                        </div>
                                        <div class="time time-10">
                                            <h3>5 September, 2020</h3>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>  
<section class="partners">
    {% comment %} <h1>2020 Partners</h1> {% endcomment %}
    <hr>
    <div class="row partners-descrip">
        <h2>In-kind Partners</h4>
        <div class="image-control col-lg-6 g-tech">
            <img src="{% static 'mentors/img/GirlscriptTech.png' %}">
        </div>
        <div class="image-control col-lg-6">
            <img src="https://balsamiq.com/assets/company/brandassets/balsamiq-logo-screen.svg">
        </div>
        <h2>Outreach Partner</h4>
        <div class="image-control col-lg-12">
            <img src="{% static 'mentors/img/internwell.png' %}">
        </div>
    </div>
</section>
<section class="conduct">
<a name="conduct">
    <div class="conduct-body">
        <div class="conduct-head">
            <h1>Code of Conduct</h1>
        </div>
        <div class="conduct-descrip">
            <p> 
                PSoC is dedicated to providing a positive and harassment-free event experience for everyone,
                regardless of age, gender, gender identity and expression, sexual orientation, disability, personal
                appearance, body size, ethnicity, race, religion, nationality, or level of experience. We do not 
                tolerate harassment of event participants in any form, nor do we tolerate any behavior that would 
                reasonably lead to another event participant being made to feel unsafe, insecure, or frightened for 
                their physical or emotional well-being. All communication should be appropriate for a professional 
                audience including people of many different backgrounds.
            </p>
            <br><br>
            <h3>Examples of encouraged behavior that contributes to a positive environment include:</h3>                
            <ul>
                <li>Using welcoming and inclusive language.</li>
                <li>Being respectful of differing viewpoints and experiences.</li>
                <li>Gracefully accepting constructive criticism.</li>
                <li>Focusing on what is best for everyone at the event.</li>
                <li>Showing empathy towards other participants.</li>
            </ul>
            <h3>Unacceptable behavior includes:</h3>                
            <ul>                
                <li>The use of sexualized language or imagery, or inappropriate physical contact, sexual attention, or advances.</li>
                <li>Trolling, insulting or derogatory comments, personal or political attacks, or sustained disruption of talks or other events.</li>
                <li>Deliberate intimidation, stalking, following, or harassing photography or recording.</li>
                <li>Harassment of any kind, even in a joking or ironic manner.</li>
                <li>Other conduct which could reasonably be considered inappropriate in a professional setting.</li>
            </ul>
            <br>
            <p>Be kind to others. Do not insult or put down other participants. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate at this event.</p>
            <p>Thank you for helping to make this a welcoming, friendly space for all.</p>
            <p>If you have any concerns, please contact the <a class="p-1" href="mailto: pclubsummerofcode@gmail.com">organizers</a>.</p>
        </div>
    </div>
</section>
<script>
  alert("Mentor application period extended till 12 June")
</script>
{% endblock %}
