{% extends "mentors/base.html" %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/conduct.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/psoc20201.css' %}" />
<body>
  <div class="py-5">
  
  <div class = "heading">
  <h1>PSOC 2020 </h1>
  </div>
    <div class="container">
      <div class="row hidden-md-up">
      <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Github Auto Update </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href = 'https://github.com/pclubuiet/GitHub-Auto-Update-PSoC2020'">Link</button>
      

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
    

        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Profile Builder System </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Profile-Builder-System-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> VizBack </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/VizBack-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
      <div class="row">
        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Rotten Scripts </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Rotten-Scripts-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div><br>
        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Just Resume </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Just-Resume-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>    <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Androiders Buddy</h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Androiders-Buddy-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
       <div class="row">
        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Customizable Portfolio </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Customizable-Portfolio-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div><br>
        <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> COVID-19 Detector </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/COVID-19-Detector-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div><div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Pocket-News </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Pocket-news-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>
       <div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Prediction of Epidemic Outbreaks Using Social Media Data </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Prediction-of-Epidemic-Outbreaks-Using-Social-Media-Data-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div><br>
        
<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">

    <div class="card-front">
      <h2> Predicting Student Performance With Deep Neural Networks </h2>
    </div>
<div class="card-back">
      

      <button onclick="window.location.href='https://github.com/pclubuiet/Predicting-Student-Performance-with-Deep-Neural-Networks-PSoC2020'">Link</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>  </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>


{% endblock %}