{% extends "mentors/base.html" %} {% load static %} {% block body_block %}
<link rel="stylesheet" href="{% static 'mentors/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/conduct.css' %}" />
<link rel="stylesheet" href="{% static 'mentors/css/psoc20201.css' %}" />
<link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

  <body>
  <div class="py-5">
    
    <section class="section-plans" id="section-plans">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          PSOC 2020
        </h2>
      </div>

      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Github Auto Update</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Arna Maity</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=mrQa7jkSFW4" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="#popup" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
    

       <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-2">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Profile Builder System</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Mahir Gupta</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=HJlOxbKu-AM" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Profile-Builder-System-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-3">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Vizback</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Charanjit Singh</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="#" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/VizBack-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-3">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Rotten Scripts</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Harsh Bardhan Mishra</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=CFjjI82Y-Fc" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Rotten-Scripts-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Just Resume</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Anush Bhatia</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=rkpSRU6cjB0" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Just-Resume-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
 <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-2">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading">Androiders Buddy</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Dhruv Mehta</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=WBNRfjSDKqA" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Androiders-Buddy-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>   
        </div>   <<div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-2">
              <div class="card__title card__title--1">
                
                <h3 class="card__heading">Customizable Portfolio</h3>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Aastha Mehta</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=E-sykObcgu4" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Customizable-Portfolio-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
       <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-3">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading"> COVID-19 Detector</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Sayed Mohd Kazim Mehdi</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=9Go1Ngc1VII" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/COVID-19-Detector-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div><div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                
                <h4 class="card__heading"> Pocket News</h4>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Nitin Kumar Tiwari</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=yWB7HWGX2_s" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Pocket-news-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                
                <h5 class="card__heading"> Prediction of Epidemic Outbreaks Using Social Media Data</h5>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Illa Pavan Kumar</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=zvXI5tYzMFM" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Prediction-of-Epidemic-Outbreaks-Using-Social-Media-Data-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>

        
<div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-2">
              <div class="card__title card__title--1">
                
                <h5 class="card__heading"> Predicting Student Performance With Deep Neural Networks</h5>
              </div>

              
              <div class="card__details">
                <ul>
                  <li>Mentor: Illa Pavan Kumar</li>
                </ul>
              </div>
              
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit explicabo repellendus provident qui illum fugit omnis doloremque eveniet impedit vel in ex ad placeat aspernatur numquam, error voluptate consectetur fuga.</p>
                      <p class="card__price-value">Project video:</p>
                        <a href="https://www.youtube.com/watch?v=0hLvcFDPoxM" class="btn btn--white">Click here</a>
                </div>
                <p class="card__price-value">Github Link</p>
                <a href="https://github.com/pclubuiet/Predicting-Student-Performance-with-Deep-Neural-Networks-PSoC2020" class="btn btn--white">Click here</a>
                
              </div>
            </div>
          </div>
        </div>
 </div>
 </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

</body>


{% endblock %}